@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*aqui buscamos en google fonts, embebed code, import para CSS*/
:root{ /*asi se crean las variables, dentro de root y con doble guion*/
    --color-primario: #021526;
    --color-secundario: #E2E2B6;
    --color-terciario: #6EACDA;
    --color-hover: #03346E;

    --fuente-montserrat: 'Montserrat', serif;
    --fuente-krona-one: 'krona One', sans-serif;

    --font-size-24px: 1.5rem; /*1 rem = 16px*/
    --font-size-36px: 2.25rem;
}

*{ /*para cambios en todo el proyecto*/
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*height: 100vh; sacamos esto pq ya creamos el footer*/ 
    box-sizing: border-box;
}

.header-link{
    padding: 2% 0% 0% 10%; /*top right bottom left*/
}

.header-link-div{
    display: flex;
    gap: 50px;
}

.header-link-a{
    font-family: var(--fuente-montserrat);
    font-size: var(--font-size-24px);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-h1 { /* punto es para acceder a las CLASS exclusivas... debemos usar CLASS en html*/
    color: var(--color-terciario);
}
a {
    color: var(--color-terciario);
    /*border: 1px solid #f6f6f6; LO PONEMOS ABAJO ENLACES*/
    padding: 8px;
}

.presentacion-JV{
    
    display: flex;
    align-items: center;
    margin: 10%; /*para poner margen izq der*/
    justify-content: space-between; /*para justificar*/
    gap: 82px;
}

.presentacion-contenido{
    width: 50%;
    display: flex; /*base para alinearlo y dar espaciado - osea un contendeor flex*/
    flex-direction: column; /*cambiar la direccion del flex*/
    gap: 40px; /*para dar espeaciado entre los elemenetos*/
}

.presentacion-h1-titulo{
    font-size: var(--font-size-36px);
    font-family: var(--fuente-krona-one);
}

.presentacion-parrafo{
    font-size: var(--font-size-24px);
    font-family: var(--fuente-montserrat);
}

.presentacion-botones{/*para ubicar los botones*/
    display: flex;
    justify-content: space-between;    
    flex-direction: column;
    align-items: center; /*en este caso, se cambio el eje, por eso usamos ALIGN*/
    gap: 24px;
}

.presentacion-enlaces-subtitulo{
    font-family: var(--fuente-krona-one);
    font-size: var(--font-size-24px);
    font-weight: 400;
}

.presentacion-enlaces{ /*estilizando botones*/    
    width: 50%;
    /*text-align: center;*/
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: var(--fuente-montserrat);
    font-size: var(--font-size-24px);
    font-weight: 600; /*peso de la fuente*/
    text-decoration: none; /*quitar el subrayado*/
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion-enlaces:hover{
    background-color: var(--color-hover); /*usamos hover despues de la clase para pasar cursor y cambiar de color*/
}

.imagen-presentacion{
    width: 50%;
}

.footer-descripcion{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: var(--font-size-24px);
    font-weight: 400;
}
/*para cambiar de tamaño o forma */
/*! aqui ponemos solo lo q nos hace falta para los cambios*/
@media(max-width:1200px){

    .header-link{
        padding: 10%; /*top right bottom left*/
    }

    .header-link-div{
        justify-content: center; 
    }

    .presentacion-JV{
        flex-direction: column-reverse;
    }

    .presentacion-contenido{
        width: auto; /*para q se adapte automaticamente al tamaño de la caja*/
    }
}